<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSInputMonitoringUsageDescription</key>
	<string>lsom needs to read your Logitech receiver to show mouse battery and configure your mouse.</string>
</dict>
</plist>
